<div class="flex items-center justify-center h-screen bg-grey-lightest shadow rounded pb-4 bg-cover" style="
           color:#606F7B; 
           background-color: rgb(165, 182, 198); 
           background-image: url('https://68.media.tumblr.com/f6a4004f3092b0d664daeabb95d5d195/tumblr_oduyciOJNb1uhjffgo1_500.gif'); 
           background-repeat: no-repeat; 
           background-size: cover; 
           background-position: center;
           height: 400px !important;
           ">
    <div class="weather-widget">
        <div class="header">
            <span class="location">Mountain View, US</span>
            <span class="zip-code">( 94041 )</span>
        </div>
        <div class="condition">
            <span>Fog</span>, <span>fog</span>
        </div>
        <div class="temperature">
            <span class="temp-low">45˚F</span>
            <span class="current">49˚F</span>
            <span class="temp-high">58˚F</span>
        </div>
        <div class="footer">
            Saturday | 30 Dec | 10:30pm
        </div>
    </div>

</div>